.auth-container {
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #1d4ed8 0%, #4178b8 45%, #07205c 100%);
}
